In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import math
import requests 
import xlsxwriter

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets_IEX import IEX_CLOUD_API_TOKEN

In [3]:
stocks.drop(135,inplace=True)
stocks.drop(219,inplace=True)
stocks.drop(467,inplace=True)
stocks.drop(484,inplace=True)

In [4]:
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[501 rows x 1 columns]

In [5]:
lst=[]
for i in range(6):
    lst.append(stocks['Ticker'][i*100:(i+1)*100])

In [6]:
query_string=[]
for i in lst:
    query_string.append(','.join(i))

In [8]:
columns = [
            'Ticker', 
            'Price',
            'One-Month Price Return',
            'One-Month Return Percentile',
            'Three-Month Price Return',
            'Three-Month Return Percentile',
            'Six-Month Price Return',
            'Six-Month Return Percentile',
            'One-Year Price Return', 
            'One-Year Return Percentile',            
            'HQM Score',
            'Number of Shares to Buy'
            ]

In [19]:
momentum=pd.DataFrame(columns = columns)

In [20]:
for query in query_string:
    batch_url=f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={query}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_url).json()
    for ticker in query.split(','):
        momentum = momentum.append(pd.Series([ticker,
                                              data[ticker]['quote']['latestPrice'],
                                              data[ticker]['stats']['month1ChangePercent'],
                                              'N/A',
                                              data[ticker]['stats']['month3ChangePercent'],
                                              'N/A',
                                              data[ticker]['stats']['month6ChangePercent'],
                                              'N/A',
                                              data[ticker]['stats']['year1ChangePercent'],
                                              'N/A',
                                              'N/A',
                                              'N/A'], 
                                            index = columns), 
                                            ignore_index = True)

In [21]:
momentum

,Ticker,Price,One-Month Price Return,One-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,Six-Month Price Return,Six-Month Return Percentile,One-Year Price Return,One-Year Return Percentile,HQM Score,Number of Shares to Buy
0,A,124.09,0.0240557,N/A,-0.0624714,N/A,-0.163753,N/A,-0.175126,N/A,N/A,N/A
1,AAL,13.71,-0.0905794,N/A,-0.213938,N/A,-0.300863,N/A,-0.368165,N/A,N/A,N/A
2,AAP,190.49,0.022412,N/A,-0.175959,N/A,-0.210433,N/A,-0.128933,N/A,N/A,N/A
3,AAPL,145.69,0.0569805,N/A,-0.128922,N/A,-0.176669,N/A,0.00406223,N/A,N/A,N/A
4,ABBV,159.67,0.0703703,N/A,-0.0901219,N/A,0.146807,N/A,0.388592,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,116.95,0.0193872,N/A,-0.0104375,N/A,-0.102566,N/A,-9.59789e-05,N/A,N/A,N/A
497,ZBH,107.70,-0.0895003,N/A,-0.186364,N/A,-0.194409,N/A,-0.354569,N/A,N/A,N/A
498,ZBRA,294.80,-0.0468514,N/A,-0.292117,N/A,-0.459774,N/A,-0.487096,N/A,N/A,N/A
499,ZION,51.63,-0.0460789,N/A,-0.221055,N/A,-0.295275,N/A,-0.0375411,N/A,N/A,N/A
500,ZTS,179.80,0.0974102,N/A,-0.0793287,N/A,-0.172524,N/A,-0.0996752,N/A,N/A,N/A

In [ ]:
time= [
        'One-Month',
        'Three-Month',
        'Six-Month',
        'One-Year',      
        ]